<!doctype html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="assets/styles.css">
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🕰</text></svg>">
    <link rel="preload" href="/assets/Trispace.woff2" as="font" type="font/woff2" crossorigin>

    <meta property="og:type" content="website">
    <meta property="og:title" content="En ce moment">
    <meta property="og:url" content="https://encemoment.site">
    <meta property="og:image" content="https://encemoment.site/assets/img/opengraph.jpg">
    <meta property="og:description" content="Un site web qui recense des pages “En ce moment” (ou “now pages”), à travers le web francophone.">

    <link rel="alternate" type="application/atom+xml" title="Flux Atom En ce moment" href="https://encemoment.site/flux.xml" />
    <link rel="preload" href="/assets/fonts/Trispace.woff2" as="font" type="font/woff2" crossorigin>
  </head>
  <body>
    <main>
      {{ content | safe }}
    </main>
    <footer>
      Flux : <a href="https://encemoment.site/flux.xml" rel="alternate" type="application/atom+xml">Atom</a><br>
      Source : <a href="https://github.com/joachimesque/en-ce-moment">GitHub:joachimesque/en-ce-moment</a><br>
      Font : <a href="https://etceteratype.co/trispace">Trispace</a> / <a href="/assets/fonts/OFL.txt" rel="nofollow">OFL</a><br>
      Emoji favicon/OG : <a href="https://twemoji.twitter.com/">Twemoji</a> / <a href="https://creativecommons.org/licenses/by/4.0/">CC-BY 4.0</a><br>
      Une production <a href="https://professeurjoachim.com">Joachimesque</a>
    </footer>
  </body>
</html>
