<!doctype html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="assets/styles.css">
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🕰</text></svg>">
  </head>
  <body>
    <main>
      {{ content | safe }}
    </main>
    <footer>
      Font : <a href="https://etceteratype.co/trispace">Trispace</a><br>
      Une production <a href="https://professeurjoachim.com">Joachimesque</a>
    </footer>
  </body>
</html>
