<!doctype html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/assets/styles.css">
  </head>
  <body>
    <main>
      {{ content | safe }}
    </main>
    <footer>
      Font : <a href="https://etceteratype.co/trispace">Trispace</a><br>
      Une production <a href="https://professeurjoachim.com">Joachimesque</a>
    </footer>
  </body>
</html>
