const liste = [
{%- for post in collections.all %}
  {
    emoji: "{{ post.data.emoji }}",
    couleur: "{{ post.data.couleur }}",
    adresse: "{{ post.data.adresse }}",
    titre: "{{ post.data.titre }}",
    date: {{ post.date.getTime() }},
    {%- if post.data.update %}
    update: {{ post.data.update.getTime() }},
    {%- else %}
    update: 0,
    {%- endif %}
  },
{%- endfor %}
];
